@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  @apply bg-gray-800 text-white flex flex-col h-full;
}

#app {
  @apply flex flex-col flex-1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}
